
{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="#">Library management</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="index.html">St</a>
      </div>
      <ul class="sidebar-menu">
        {% comment %} <li class="menu-header">Dashboard</li> {% endcomment %}
        <li class="dropdown active">
          <a href="#" ><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a> 
          <a href="{% url 'acategories'%}" ><i class="fas fa-th-list"></i><span>Categories</span></a>
          <a href="{% url 'adminbooks'%}" ><i class="fas fa-user"></i><span>Book</span></a>
          

         
        </li>
        
       
      </ul>



      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="{% url 'admin_logout'%}" class="btn btn-primary btn-lg btn-block btn-icon-split">
          <i class="fas fa-sign-out-alt"></i> Logout 
        </a>                
      </div>
      
  </div>

  {% comment %} {% url 'logout' %}  {% endcomment %}